<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand" style="width: 100%;">
      <a class="navbar-item" routerLink="/">
        <span class="title">BLOG</span>
      </a>
      <div class="navbar-item navbar-item-right">
        <div class="buttons">
          <a class="button is-primary" routerLink="create-post">
            <strong>+ Add post</strong>
          </a>
        </div>
      </div>
    </div>
  </div>  
</nav>
  
  <body>
    <main>
        <section class="section">
            <div class="container">
              <div class="main-body">
              <router-outlet></router-outlet>
            </div>
            </div>
          </section>
    </main>
  </body>