<div class="formWrapper">
  <span class="title center">{{postId ? 'Redaguoti straipsnį' : 'Kurti naują straipsnį' }}</span>
  <form class="form" [formGroup]="postForm" (ngSubmit)="savePost()">
    <div class="field">
      <label class="label" for="titleInput">Antraštė</label>
      <div class="control">
        <input class="input" type="text" placeholder="Text input" id="titleInput" formControlName="titleInput">
      </div>
    </div>  
  
    <div class="field">
      <label class="label" for="bodyTextArea">Tekstas</label>
      <div class="control">
        <textarea class="textarea" placeholder="Straipsnio tekstas" id="bodyTextArea" formControlName="bodyTextArea"></textarea>
      </div>
    </div>  
  
    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-primary">{{postId ? 'Atnaujinti' : 'Sukurti' }}</button>
      </div>
    </div>
  </form>
</div>
